.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  background: #444;
  color: #fff;
  font-size: 1.25rem;
}

header nav .logo {
    flex: 1;
    font-size: 1.5;
}

header nav input[type="search"] {
    flex: 2;
    max-width: 400px;
    margin: 0 40px;
    padding: 8px 12px;
    font-size: 1rem;
}

header nav a {
    margin-left: 40px;
    flex-shrink: 0;
    align-items: right;
}